        .fixfloat {
            clear: both;
        }
        
        body {
            margin: auto;
            max-width: 960px;
            background-color: #ddd;
            padding: 0px;
            background: url(imagens/fundo.gif) repeat-x;
            overflow-y: scroll;
        }
        
        #cab img {
            float: left;
        }
        
        #social {
            float: right;
            margin-top: 40px;
        }
        
        #social img {
            width: 32px;
            height: 32px;
        }
        
        #menu {
            float: left;
            margin-top: 93px;
            width: 453px;
        }
        
        #menu ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            background: linear-gradient(to botton, #ddd, #666);
        }
        
        #menu li {
            height: 57px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 150px;
            border-right: 1px solid #062;
        }
        
        #menu ul li a {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
        }
        
        #banner {
            margin-top: 15px;
        }
        
        #banner img {
            width: 960px;
        }
        
        #lateral {
            float: right;
            background: #ddd;
            width: 190px;
            border-radius: 10px;
            padding: 5px;
        }
        
        #lateral h1 {
            font-size: 15px;
            text-align: center;
            border-bottom: #000 solid 1px;
            margin-top: -5px;
        }
        
        #lateral h2 {
            font-size: 15px;
        }
        
        #lateral p {
            text-align: justify;
        }
        
        #main {
            background: #eee;
            width: 730px;
            border-radius: 10px;
            padding: 5px;
        }
        
        #main h1 {
            font-size: 20pt;
        }
        
        #main h2 {
            font-size: 15px;
        }
        
        #main p {
            text-align: justify;
        }
        
        footer {
            color: #888;
            border: #000 solid 1px;
        }
        
        footer p {
            display: inline-block;
            width: 316px;
            text-align: center;
        }
        
        details {
            margin-top: 30px;
            cursor: pointer;
        }
        
        details p {
            font-size: 20px;
        }
        
        summary {
            height: 30px;
            background: linear-gradient(to bottom, #eee, #999);
            font: 12pt arial;
            font-weight: bold;
            padding: 10px 0px 0px 10px;
        }
        
        details[open] summary {
            color: #fff;
            background: linear-gradient(to bottom, #336666, #035656);
        }
        
        details[open] {
            background: #eee;
        }
        
        #contato label {
            font-size: 15pt;
            font-weight: bold;
            font-style: italic;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #336666;
            display: block;
            margin-top: 3px;
        }
        
        #contato input[type="submit"],
        #contato input[type="reset"] {
            color: #f00;
            border: 0px;
            width: 120px;
            height: 50px;
            color: #fff;
            background: #060;
            border-radius: 10px;
            cursor: pointer;
        }